
<html>
  <head>
    <title>Rish - manage your business</title>

     <base href="/" />
    
     <script type="text/javascript" src="/public/angular-1.7.8/angular.js">
     </script>
    
       <script src="/nm/@angular/router/angular1/angular_1_router.js"></script>
	  </script>
     <script type="text/javascript" src="/application/src/app.js">  
     </script>

     <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">

  </head>
  <body ng-app="app">
    <app></app>
  </body>
</html>
